@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #dfd0d0;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #353535;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* From Uiverse.io by Pradeepsaranbishnoi */ 
:focus {
  outline: 0;
  border-color: #2260ff;
  box-shadow: 0 0 0 4px #b5c9fc;
}

.mybanner div {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5rem;
  width: 100%;
}

.mybanner input[type="radio"] {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  width: 1px;
}

.mybanner input[type="radio"]:hover + span {
  box-shadow: 0 0 0 0.0625em #0043ed;
  background-color: #dee7ff;
  z-index: 1;
  color: #0043ed;
}

label span {
  display: block;
  cursor: pointer;
  padding: 1.5em .75em;
  position: relative;
  margin-left: .0625em;
  margin-right: 1em;
  box-shadow: 0 0 0 0.0625em #b5bfd9;
  letter-spacing: .05em;
  color: #d6ddee;
  transition: background-color .5s ease;
  border-radius: .375em .375em .375em .375em;
}


.clickable {
  cursor: pointer;
}

.cover {
  height: 250;
  width:  250;
}

.albumContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  padding: 50px;
}
